* {
box-sizing: border-box;  
}

.welcome-project {
  /*background-color: brown;*/
  margin:0;
  padding:0;
  background-image: url("../img/Home_Background.png");
  background-repeat: no-repeat;
}

.welcome-container {
  width:90%;
  margin:0 auto;
}

.welcome-menu {
  width: 1141px;
  display: flex;
}

.welcome-startup {
  color:#ffffff;
  font-size:32px;
  display: flex;
  padding-right: 510px;
  padding-top: 40px;
}

.welcome-submenu {
  display: flex;
  width: 540px;
  justify-content: space-between;
  color: #ffffff;
  font-size: 14px;
  padding-top:30px;
}

.welcome-general-block {
  color: #ffffff;
  padding: 264px 260px;
  text-align: center;
}

.welcome-title {
  font-size: 48px;
  padding-bottom: 24px;
}

.welcome-text {
  font-size: 20px;
  padding-bottom: 50px;
}

.welcome-button {
  height:50px;
  width:180px;
  border:2px solid #ffffff;
}

.welcome-button-text {
  font-size: 16px;
  color:#ffffff;
  margin:(19px 34px 18px 35px);
}

.service-project {
  background-color: #ffffff;
  padding: 0;
  margin: 0;
}

.service-project-container {
  width: 90%;
  margin: 0 auto
}

.service-project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-bottom: 70px;
}

.service-title {
  color: #555555;
  font-size: 20px;
}

.service-line {
  width: 50px;
  height: 2px;
  background-color:#555555;
}

.service-text {
  color: #555555;
  font-size: 16px; 
}

.service-icons {
  display: flex;
  /*justify-content: space-between;*/
  padding-bottom: 100px;
}

.service-item {
  display: flex;
  flex-direction: column;
  /*justify-content: center;
  align-items: center;
  text-align: center;*/
}

.service-icons-circle-title {
  color:#555555;
  font-size: 14px;
  padding-bottom: 24px;
}

.service-icons-circle-text {
  color:#555555;
  font-size: 14px;
}

.fon {
  position: relative;
}

.code {
  position: absolute;
  left:20px;
  top: 30px;
}

.service-icons-arrows-title {
  color:#555555;
  font-size: 14px;
  padding-bottom: 24px;
}

.service-icons-arrows-text {
  color:#555555;
  font-size: 14px;
}

.service-icons-ring-title {
  color:#555555;
  font-size: 14px;
  padding-bottom: 24px;
}

.service-icons-ring-text {
  color:#555555;
  font-size: 14px;
}

.about-us {
  background-color:#f8f8f8;
  margin: 0;
  padding: 0;
}

.about-us-container {
  width: 90%;
  margin: 0 auto;
}

.about-us-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  margin-bottom: 70px;
}

.about-us-title {
  color: #555555;
  font-size: 20px;
}

.about-us-line {
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.about-us-text {
  color: #555555;
  font-size: 16px;
}

.about-us-content {
  display: flex;
  flex-direction: row;
  color: #555555;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 71px;
}

.about-us-content-text1 {
  padding-right: 32px;
}

.about-us-gallery {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;;
  width: 1140px;
  margin-bottom: 99px;
}

.about-us-Uddin {
  height: 250px;
  width: 260px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 14px;
  color: #555555; 
}

.Uddin-name {
  padding-top: 20px;
  padding-bottom: 15px;
}

.about-us-Miah {
  height: 250px;
  width: 260px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 14px;
  color: #555555;
}

.Miah-name {
  padding-top: 20px;
  padding-bottom: 15px;
}

.about-us-Mia {
  height: 250px;
  width: 260px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 14px;
  color: #555555; 
}

.Mia-name {
  padding-top: 20px;
  padding-bottom: 15px;
}

.about-us-Doe {
  height: 250px;
  width: 260px;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 14px;
  color: #555555;
}

.Doe-name {
  padding-top: 20px;
  padding-bottom: 15px;
}

.latest-works {
  background-color: #ffffff;
  margin: 0 auto;
}

.latest-works-container {
  width: 90%;
  padding: 0;
  margin:0;
}

.latest-works-menu {
  display: flex;
  height: 90px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
}

.latest-works-title {
  font-size: 20px;
  color: #555555;
}

.latest-works-line {
  width: 50px;
  height: 2px;
  background-color: #555555;
}

.latest-works-submenu {
  display: flex;
  width: 416px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.latest-works-item {
  font-size: 16px;
  color: #555555;
}




