doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/main.css")
        title home-diplom-project
    body
        section.welcome-project
            .welcome-container
                .welcome-menu
                    .welcome-startup Startup
                    .welcome-submenu
                        .welcome-submenu.text1 home
                        .welcome-submenu.text2 services
                        .welcome-submenu.text3 about
                        .welcome-submenu.text4 blog
                        .welcome-submenu.text5 clients
                        .welcome-submenu.text6 contant
                .welcome-general-block
                    .welcome-title Welcome to Startup
                    .welcome-text Your Favoirite Agency Template
                    .welcome-button
                        .welcome-button-text GET STARTED
        section.service-project
            .service-project-container
                .service-project-content
                    .service-title SERVICES
                    .service-line 
                    .service-text We offer dolor sit amet, consetetur sadipscing elitr amet                       
                .service-icons
                    .service-icons-circle
                        img(src="../img/circle.png", alt="").circle-class
                        img(src="../img/fa-font.png", alt="").later-class
                        .service-icons-circle-title CLEAN TYPOGRAPHY
                        .service-icons-circle-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                    .service-icons-arrows                        
                        img(src="../img/white-circle.png", alt="")
                        img(src="../img/fa-code.png", alt="")
                        .service-icons-arrows-title ROCK SOLID CODE
                        .service-icons-arrows-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.   
                    .service-icons-ring
                        img(src="../img/white-circle.png", alt="")
                        img(src="../img/fa-support.png", alt="")
                        .service-icons-ring-title EXPERT SUPPORT
                        .service-icons-ring-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
        section.about-us
            .about-us-container
                .about-us-block
                    .about-us-title ABOUT US
                    .about-us-line
                    .about-us-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .about-us-content
                    .about-us-content-text1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                    .about-us-content-text2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.  
                .about-us-gallery
                   .about-us-Uddin 
                        img(src="../img/Uddin.png", width:263px; height:250px; alt="")
                        .Uddin-name MD. KHALIL UDDIN
                        .Uddin-profession Head of Idea                                          
                   .about-us-Miah
                        img(src="../img/Miah.png", width:263px; height:250px; alt="")
                        .Miah-name RUBEL MIAH
                        .Miah-profession Lead WordPress Developer  
                   .about-us-Mia
                        img(src="../img/Mia.png", width:263px; height:250px; alt="")
                        .Mia-name Shamim Mia
                        .Mia-profession Sr. Web Developer 
                   .about-us-Doe
                        img(src="../img/Doe.png", width:263px; height:250px; alt="")
                        .Doe-name John Doe
                        .Doe-profession Front-end Developer
        section.latest-works
            .latest-works-container
                .latest-works-menu
                    .latest-works-title LATEST WORKS
                    .latest-works-line
                    .latest-works-submenu
                        .latest-works-item All
                        .latest-works-item Branding
                        .latest-works-item Design
                        .latest-works-item Development
                        .latest-works-item Strategy



                    


                





        

