doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/media.css")
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        title home-diplom-project
    body

        script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
        script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js", integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo", crossorigin="anonymous")
        script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js", integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI", crossorigin="anonymous")

        section.welcome-project
            .container
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand" href="#">Startup</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link" href="#">Services</a>
                            <a class="nav-item nav-link" href="#">About</a>
                            <a class="nav-item nav-link" href="#">Works</a>
                            <a class="nav-item nav-link" href="#">Blog</a>
                            <a class="nav-item nav-link" href="#">Clients</a>
                            <a class="nav-item nav-link" href="#">Contact</a>
                        </div>
                    </div>
                </nav>
                //-.welcome-menu
                    .welcome-startup Startup
                    .welcome-submenu
                        .welcome-submenu.text1 Home
                        .welcome-submenu.text2 
                            a(href="#servies") Services
                        .welcome-submenu.text3 
                            a(href="#about") About 
                        .welcome-submenu.text4 
                            a(href="#works") Works                               
                        .welcome-submenu.text5 
                            a(href="#blog") Blog
                        .welcome-submenu.text6 
                            a(href="#clients") Clients
                        .welcome-submenu.text7 
                            a(href="#contact") Contant
                .welcome-general-block
                    .welcome-title WELCOME TO STARTUP
                    .welcome-text Your Favoirite Agency Template
                    .weicome-button
                        button.getstarted GET STARTED                       
        
        section(name="servies").service-project
            .container
                .service-project-content
                    .service-title SERVICES
                    .service-line 
                    .service-text We offer dolor sit amet, consetetur sadipscing elitr amet                       
                .service-icons
                    .service-icons-circle
                        .service-circle-picture
                            .circle-picture
                                img(src="../img/fa-font.png", alt="").later-class
                        .service-icons-circle-title CLEAN TYPOGRAPHY
                        .service-icons-circle-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
                    .service-icons-arrows                        
                        .service-arrows-picture
                            .white-circle-picture
                                img(src="../img/fa-code.png", alt="").arrows-class
                        .service-icons-arrows-title ROCK SOLID CODE
                        .service-icons-arrows-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.   
                    .service-icons-ring
                        .service-ring-picture
                            .white-circle-picture
                                img(src="../img/fa-support.png", alt="").ring-class
                        .service-icons-ring-title EXPERT SUPPORT
                        .service-icons-ring-text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum.
       
        section(name="about").about-us
            .container
                .about-us-block
                    .about-us-title ABOUT US
                    .about-us-line
                    .about-us-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .about-us-content
                    .about-us-content-text1 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                    .about-us-content-text2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirtempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos eaccusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Loreipsum dolor sit amet. Lorem ipsum dolor et.  
                .about-us-gallery
                   .about-us-Uddin 
                        .Uddin-foto
                            .Uddin-angle-left
                                img(src="../img/fa-angle-left.png", alt="") 
                            .about-us-icons
                                .about-icon-facebook
                                .about-icon-twitter
                                .about-icon-google
                                .about-icon-linkedin
                        .Uddin-name MD. KHALIL UDDIN
                        .Uddin-profession Head of Idea                                          
                   .about-us-Miah
                        .Miah-foto
                            .about-us-icons
                                .about-icon-facebook
                                .about-icon-twitter
                                .about-icon-google
                                .about-icon-linkedin
                        .Miah-name RUBEL MIAH
                        .Miah-profession Lead WordPress Developer  
                   .about-us-Mia
                        .Mia-foto
                            .about-us-icons
                                .about-icon-facebook
                                .about-icon-twitter
                                .about-icon-google
                                .about-icon-linkedin
                        .Mia-name SHAMIM MIA
                        .Mia-profession Sr. Web Developer 
                   .about-us-Doe
                        .Doe-foto
                            .about-us-icons
                                .about-icon-facebook                                   
                                .about-icon-twitter
                                .about-icon-google
                                .about-icon-linkedin
                            .Doe-angle-right
                                 img(src="../img/fa-angle-right.png", alt="") 
                        .Doe-name JOHN DOE
                        .Doe-profession Front-end Developer
    
        section(name="works").latest-works
            .container
                .latest-works-menu
                    .latest-works-title LATEST WORKS
                    .latest-works-line
                    .latest-works-submenu
                        .latest-works-item1 All
                        .latest-works-item Branding
                        .latest-works-item Design
                        .latest-works-item Development
                        .latest-works-item Strategy
                .latest-foto-block
                    .foto-hair-dresser
                        .hair-dresser-content
                            .hair-dresser-title Hair Dresser
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-dove
                        .dove-content
                            .dove-title Dove
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-laptop
                        .laptop-content
                            .laptop-title Laptop
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-camera
                        .camera-content
                            .camera-title Camera
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-bicycle
                        .bicycle-content
                            .bicycle-title Bicycle
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-notebook
                        .notebook-content
                            .notebook-title Notebook
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-desktop
                        .desktop-content
                            .desktop-title Desktop
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-stationary
                        .stationary-content
                            .stationary-title Stationary
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
                    .foto-guide
                        .guide-content
                            .guide-title Guide
                            .foto-branding Branding
                            .foto-button
                                .foto-button-text VIEW
        section.action
            .action-container
                .action-question Do you like OUR WORK so far?
                .action-answer Let's talk about YOUR PROJECT!
                .action-button
                    .action-button-text GET IN TOUCH
    
        section(name="blog").blog-posts
            .container
                .blog-posts-menu
                    .blog-posts-title RECENT BLOG POSTS
                    .blog-posts-line
                    .blog-posts-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .work-place-layout
                    .work-place-picture
                    .work-place-content
                        .work-place-data-block
                            .work-place-data-icons
                                .work-place-data-number 18
                                .work-place-data-month OCT
                            .work-place-data-content
                                .work-place-data-tagline STARTUP IDEAS NEEDS TO BE FUNDED 
                                .work-place-data-signature By 
                                    span.red Khalil 
                                    span Uddin in 
                                    span.red Development
                        .work-place-text-block
                            .work-place-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                            .work-place-link READ MORE
                .blog-posts-straight
                .office-supplies-layout
                    .office-supplies-picture
                    .office-supplies-content
                        .office-supplies-data-block
                            .office-supplies-data-icons
                                .office-supplies-data-number 18
                                .office-supplies-data-month OCT
                            .office-supplies-data-content
                                .office-supplies-data-tagline USER INTERFACE DESIGNING ELEMENTS  
                                .office-supplies-data-signature By Khalil Uddin in Development
                        .office-supplies-text-block
                            .office-supplies-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor idunt ut labore et dolore aliquyam 
                            .office-supplies-link READ MORE
       
        section(name="clients").clients-logo
            .container 
                .clients-logo-layout
                    .clients-logo-block
                        .logo-deorham
                        .logo-ratings
                        .logo-malik
                        .logo-bcause
                        .logo-womgify
                    .clients-logo-content
                        .clients-logo-text Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum”
                        .clients-logo-signature John Doe, Google Inc.
                        .clients-logo-items
                            .logo-circle
                            .logo-circle
                            .logo-circle
    
        section(name="contact").inputs
            .container
                .inputs-menu
                    .inputs-title GET IN TOUCH
                    .inputs-line
                    .inputs-text Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
                .inputs-layout
                    .inputs-location
                        .adress-block
                            .adress-icon
                            .adress-content
                                .adress-title ADDRESS
                                .adress-line1 312, 7th Ave, New York 
                                .adress-line2 NY 101200, United States of America                                                      
                        .phone-block
                            .phone-icon
                            .phone-content
                                .phone-title HOTLINE (24x7)
                                .phone-line1 +65 0052 300, +65 88251 210
                                .phone-line2 +88 01723 511 340
                        .mail-block
                            .mail-icon
                            .mail-content
                                .mail-title E-MAIL
                                .mail-line1 shapedtheme@gmail.com
                                .mail-line2 khalilkode@gmail.com
                    .inputs-section
                        .inputs-block
                            .section1
                                input.finish(type="text" id="name" placeholder="NAME")
                            .section2
                                input.finish(type="text" id="e-mail" placeholder="YOUR E-MAIL")
                            .section3
                                input.finish(type="text" id="subject" placeholder="YOUR SUBJECT")
                            .section4
                                input.finish(type="text" id="company-name" placeholder="COMPANY NAME")
                            .section5
                                input.writemessage(type="text" id="message" placeholder="WRITE YOUR MESSAGE")
                        .inputs-button
                            .button
                                button.sendmessage SEND MESSAGE
                            .button-text * 
                                span.grey We’ll contact you as as possible. We don’t reply on Monday.
        section.footer
            .container
                .footer-layout
                    .footer-twitter-icons
                        .twitter-icons-background
                            .twitter-icons
                        .twitter-icons-background
                            .twitter-icons
                        .twitter-icons-background
                            .twitter-icons
                        .twitter-icons-background
                            .twitter-icons
                    .footer-line
                    .footer-signature © 2015 STARTUP, DESIGNED BY SHAPEDTHEME

                

                               
                    



                    


                





        

